 body {
	font-family: "Gill Sans";
}

.logo img {
	width: 300px;
	height: auto;
}

.uppercase {
	text-transform: uppercase;
}

.coming-soon {
	margin-bottom: 60px;
}

.coming-soon-header {
	color: #aaa;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.4em;
	margin-top: -10px;
}

.message {
	margin: auto;
	font-weight: thin;
	font-size: 16px;
}

.message-copy {
	font-weight: 300;
	margin-bottom: 40px;
}

.email-form {
	margin-bottom: 50px;
}

.email-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -8px black;
	border: 1px solid #ccc;
	padding: 0 20px;
}

.email-input:focus {
	outline: none;
}

#submit:focus {
	outline: none;
}

::-webkit-input-placeholder {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.2em;

}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.form-submit {
	background: black;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 12px;
	padding: 10px;
}

.social-icons img {
	width: 40px;
	height: auto;
	margin-bottom: 30px;
}

#email {
	margin-top: 5px;
}

.footer-copy {
 	font-size: 10px;
}

@media (max-width: 480px) {
	.logo img {
	width: 200px;
	height: auto;
}
}

